@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101116;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .h1 {
    @apply text-6xl font-extrabold py-8 border-b border-white/50  dark:text-[darkgrey] text-gray-900 ;
  }
  .h2 {
    @apply text-4xl font-extrabold py-8 border-b border-white/50  dark:text-[darkgrey] text-gray-900 ;
  }

  .text-primary {
    @apply font-sans font-bold text-white tracking-wider text-sm;
  }
  input, textarea {
    @apply w-full text-primary;
  }

  input::placeholder, textarea::placeholder {
    @apply text-gray-400 font-bold;
  }

  select {
    @apply appearance-none bg-gray-900;
  }
  
  checkbox {
    @apply bg-gray-900 border-gray-700 text-white focus:bg-gray-700;
  }

  label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400;
  }
  header {
    @apply text-primary;
  }
  button:not(.header-default button) {
    @apply font-bold text-gray-500 hover:text-white;
  }
  button {
    @apply hover:text-white;
  }

}

@layer components {

  .form-input {
    @apply rounded-md bg-transparent text-white border border-gray-700 p-6 focus:outline-none focus:ring-2 focus:ring-gray-500 hover:bg-[#1c212b];
  }
  .form-button-submit {
    @apply w-full bg-[#13151a] text-white py-2 rounded-md hover:bg-[#1c212b];
  }
  .dialog-button {
    @apply text-gray-400 hover:text-white py-2 mt-4 rounded-md;
  }
  .glass-effect {
    @apply bg-[#0f0d0d] bg-opacity-30 backdrop-blur-md p-2 rounded-lg;
  }
  .button-logout {
    @apply absolute top-2 -right-96 p-1 rounded-full border-gray-700 px-4;
  }
  .button-login-option {
    @apply w-full flex flex-row justify-center my-4 h-14 border border-gray-700 rounded-md py-4 px-8 bg-transparent hover:bg-[#1c212b];
    p {
      @apply ml-4;
    }
  }
  .title-button {
    @apply flex space-x-8 w-full items-center h-full hover:text-white rounded-md text-2xl font-bold dark:text-[darkgrey] text-gray-900;
  } 
  .header-auth {
    @apply glass-effect w-1/2 m-6 mx-auto rounded-full border border-gray-700/50 flex justify-between;
    .header-nav-button {
      @apply text-white rounded-full border border-gray-700 bg-[#162030cc];
    }
  }
  .header-default {
    @apply w-4/5 m-6 mx-auto flex justify-between border-b border-white/50 py-6;
  }
  .wrapper-with-border {
    @apply bg-[#1c212b] rounded-md px-32 py-4;
  }
  .alert {
    @apply dark:text-[darkgrey] text-gray-800 space-y-8;
  }
  .table-row {
    @apply bg-white border-b dark:border-gray-600/50 dark:bg-[#101116] text-gray-600;
  }
  .table-header {
    @apply bg-gray-50 dark:bg-[#171920];
  }
}

@layer utilities {

}

